                                                    /* Global */
html{
    width: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media screen and (min-width: 700px){
    html{
        font-size: 110%;
    } 
}

@media screen and (min-width: 1025px){
    html{
        font-size: 120%;
    } 
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}

/* root */
:root {
    --titleFont: 'Montserrat';
    --subFont: 'Open Sans';
    /* --emphatic: rgb(102, 198, 236); */
    --mainBackground: #0d2241;
    --emphatic: #00acea;
    --white: white;
    --sectionBackground: white;
    --grey: #141414;     
  }

@media screen and (min-width: 1025px) {
    :root {
        --sectionBackground: #e3f0f8;
      }
    
}


                                                  /* text */
h1{
    font-size: 1.6rem;
    color: var(--white);
    line-height: 1.2rem;
}
h2{
    font-size: 1.6rem;
}

h1, h2, h3{
    margin: 0;
    font-family: var(--titleFont);
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
}

h3{
    text-align: center;
    margin-top: .5rem;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: unset;
}
a:hover{
    text-decoration: underline;
    color: white;
}

@media screen and (min-width: 700px){
    h1{
        font-size: 1.5rem;
        line-height: 1.2rem;
    }
    h2{
        font-size: 1.5rem;
    }

    h1, h2{
        font-weight: 600;
    }
}
                                            /* animations*/

@keyframes goUp {
    from {margin-top: 3.2rem;}
    to {margin-top: 2.5rem;}
    }
@keyframes goDown {
    from {margin-top: 2.5rem;}
    to {margin-top: 3.2rem;}
    }


@media screen and (min-width: 700px){
    @keyframes goUp {
        from {margin-top: 1.8rem;}
        to {margin-top: 1rem;}
        }
    @keyframes goDown {
        from {margin-top: 1rem;}
        to {margin-top: 1.8rem;}
        }
}
@media screen and (min-width: 1025px){
    @keyframes textIn {
        from {opacity: 0; margin-top: 0;}
        to {opacity: 1; margin-top: 40%;}
        }
    @keyframes textOut {
        from {opacity: 1; margin-top: 40%;}
        to {opacity: 0; margin-top: 0;}
        }
    
    @keyframes lineIn {
        from {opacity: 0; width: 0%;}
        to {opacity: 1; width: 96%;}
        }
    @keyframes lineOut {
        from {opacity: 1; width: 96%;}
        to {opacity: 0; width: 0%;}
        }
    
    @keyframes vLineIn {
        from {opacity: 0; height: 0px;}
        to {opacity: 1; height: 30px;}
        }
    @keyframes vLineOut {
        from {opacity: 1; height: 30px;}
        to {opacity: 0; height: 0px;}
        }
}





                                            /* header */

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    z-index: 1;
    padding-bottom: 1.1rem;
}

.logo{
    margin-left: 2.3rem;
    margin-top: 3.2rem;
}

@media screen and (min-width: 700px){
.logo{
    margin-top: 1.8rem;
}
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid blue; */
    margin-top: 2.6rem;
    margin-right: 2.1rem;
}

@media screen and (min-width: 700px){
    .header-right{
        margin-top: 0;
    }
    }

    .headerText{
        color: var(--white);
        font-family: var(--titleFont);
        text-transform: uppercase;
        font-size: .7rem;
        letter-spacing: .03rem;
        padding: 0 1rem 0 1rem;
    }
    
    .header-right-box{
        text-align: right;
        /* border: 1px solid pink; */
    }
    .header-center-box{
        text-align: center;
        height: 1.2rem;
    }
    .header-center-box:first-child{
        border-right: 1px solid #999;
    }
    .header-center-box, .header-right-box{
        margin-top: 1.1em;
        display: none;
        align-items: center;
    }
    img.header-right-box{
        width: 20px;
        max-width: 20px;
    }
    
    @media screen and (min-width: 1025px){
        .header-right-box, .header-center-box{
            display: flex;
        } 
    }
                                            /* Nav */
nav{
    transform: rotate(90deg);
    display: flex;
    height: 100%;
    margin-left: 1rem;
    /* border: 1px solid green; */
}

@media screen and (min-width: 700px){
    nav{
        margin-top: 1rem;
    }
    }

.burger{
    font-size: 5.3em;
    color: var(--white);
    font-family: 'Work Sans';
    text-transform: uppercase;
    letter-spacing: .65rem;
    font-weight: 300;
}

@media screen and (min-width: 700px){
    .burger{
        font-size: 2.3rem;
        letter-spacing: .25rem;
    } 
}

                                            /* hero */

.hero {
    width: 100%;
    background-image: linear-gradient(160deg, midnightblue,rgb(8, 8, 243),DodgerBlue);
    overflow: hidden;
    position: relative;
}

.hero-image {
    background-image: url('../runner2.jpg');
    height: 70vh;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 0%;
    width: 100%;
    opacity: 0.5;
    filter: brightness(.6) contrast(.8) grayscale(.7);
    z-index: 0;
}

.hero-image-small {
    background-image: url('../runner2.jpg');
    height: 65vh;
    min-height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 10%;
    width: 100%;
    opacity: 0.5;
    filter: brightness(.6) contrast(.8) grayscale(.7);
    z-index: -1;
}


.hero-text-holder{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    left: 1rem; 
    right: 1rem; 
    margin: auto;
    z-index: 2;
    max-width: 600px;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    padding: 1em;
    z-index: 0;
    /* border: 1px solid red; */
}

.hero-text-holder-small{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-items: center;
    left: 0; 
    right: 0; 
    margin: 1em auto;
    z-index: 2;
    max-width: 600px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 1em;
    z-index: 0;
}

.hero-text-holder h1{
    font-size: 3.5rem;
    color: var(--white);
    font-family: var(--titleFont);
    font-weight: 500;
    line-height: normal;
    padding-bottom: 5.5rem;
}

.hero-text-holder p, .hero-text-holder-small p{
    font-size: 2rem;
    color: var(--white);
    font-family: var(--subFont);
    font-weight: 300;
    line-height: normal;
    padding: 0 0 5.5rem 0;
    /* margin: 5rem 0 0 0; */
}

.arrow-holder{
    display: none;
}


@media screen and (max-width:361px){
.hero-text-holder h1{
    font-size: 1.5rem;
}
}


@media screen and (min-width:700px){
    .hero-text-holder{
        margin-top: 3rem;
    }
    .hero-text-holder-small{
        height: 50%;
        padding: 1rem 5rem;
        justify-content: center;
    }
}

@media screen and (min-width:1025px){
    .hero-image{
        height: 100vh;
    }
    .hero-text-holder, .hero-text-holder-small{
        margin: auto;
        /* border: 1px solid var(--emphatic); */
        top: 50%;
    }

    .hero-text-holder{
        height: 50%;
        padding: 1rem 5rem;
        justify-content: center;
    }

    .hero-text-holder p, .hero-text-holder-small p{
        font-size: 1.5rem;
        padding:0;
        margin: 1rem 0 0 0;
    }
    .hero-text-holder h1{
        font-size: 2.5rem;
        color: var(--white);
        font-family: var(--titleFont);
        font-weight: 500;
        line-height: normal;
        padding: 0;
    }

    .arrow-holder{
        display: inline;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 4rem;
    }
    
    .arrow-holder:hover{
        background-color: var(--emphatic);
        
    }
}

.emphatic{
    color: var(--emphatic);
}

/* sections */

.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--sectionBackground);
    min-height: 100vh;
    /* max-width: 90vw;
    margin: 0 auto; */
    padding: 3rem 1rem;
}

.section-box{
    min-width: 60vw;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 2em auto;
}

@media screen and (min-width:1025px) {
   .section-box{
    min-width: 30vw;
} 
}

.headline{
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../circle2.png');
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: center;
}

.headline h2{
font-weight: 600;
font-size: 2.4rem;
line-height: 130%;
}

.bold-paragraph{
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--subFont);
    /* border: 1px solid pink; */
    margin: 0;
}

.normal-paragraph{
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--subFont);
}

@media screen and (min-width: 700px){
    .headline h2{
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 120%;
        }
        .bold-paragraph{
            font-size: 1.2rem;
            font-weight: 600;
            font-family: var(--subFont);
            /* border: 1px solid pink; */
            margin: 0;
        }
        .normal-paragraph{
            font-size: 1rem;
            font-weight: 400;
            font-family: var(--subFont);
        }
}

.emphatic-button{
    background-color: var(--emphatic);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-size: 150%;
    letter-spacing: .1rem;
    margin-bottom: .3rem;
}

.emphatic-button-dark{
    background-color: var(--mainBackground);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-size: 150%;
    letter-spacing: .1rem;
}

.normal-button{
    background-color: transparent;
    border: 1px solid var(--grey);
    color: var(--grey);
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-size: 150%;
    letter-spacing: .1rem;
}
.normal-button-white-border{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-size: 150%;
    letter-spacing: .1rem;
    min-width: 9rem;
    margin-bottom: .3rem;
}

button{
    padding: 1em 1.5em;
    cursor: pointer;
}


@media screen and (min-width: 1025px){
    .normal-button, .emphatic-button, .emphatic-button-dark, .normal-button-white-border{
        font-size: 80%;
    }
}


.normal-button:hover, .emphatic-button:hover{
    background-color: var(--mainBackground);
    color: var(--white)
}

.emphatic-button-dark, .normal-button-white-border:hover{
    background-color: var(--emphatic);
    color: var(--white)
}




.section-dark{
    background-color: var(--mainBackground);
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-dark-flush{
    background-color: var(--mainBackground);
    color: white;
    padding-top: 2rem;
}

.section-box-wide{
    min-width: 30vw;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto 2em auto;
}

.section-title-large{
    margin: 0 auto;
    padding: 2em 0 2em 0;
    width: 250px;
    border: 2px solid var(--mainBackground);
}

@media screen and (min-width:700px) {
    .section-title-large{
        width: 90%;
    }  
}
@media screen and (min-width:1025px) {
    .section-title-large{
        /* border: 2px solid var(--white); */
    }  
    .section-dark{
        background-color: var(--mainBackground);
        color: white;
        height: 100vh;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
}

.section-title-large h2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
}
.section-title-large p{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1rem;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-min-width{
    min-width: 100%;
}


.icon-small{
    display: flex;
    flex-direction: column;
    position: relative;
}

.icon-small img{
    padding-bottom: 0;
    margin-bottom: 0;
    width: 89px;
}

.icon-small hr{
    position: absolute;
    opacity: 0;
    width: 0%;
    background-color: var(--white);
    top: 78%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.icon-small .vertical-line{
    opacity: 0;
    border-left: 2px solid var(--white);
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 88%;
}

.hidden-icon-text{
    position: absolute;
    opacity: 0;
    top: 87%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    animation-fill-mode: forwards;
    font-family: var(--subFont);
    font-size: 0.7rem;
}

.bold-paragraph-white{
    color: var(--white);
    font-family: var(--subFont);
    font-size: 1.8rem;
    margin: 0 2rem;
}

@media screen and (min-width: 700px) {
    .flex-container{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .bold-paragraph-white{
        color: var(--white);
        font-family: var(--subFont);
        font-size: 1.1rem;
        margin: 0 2rem;
    }
}

.section3{
    background-color: var(--sectionBackground);
    color: var(--grey);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-box-left{
    min-width: 30vw;
    max-width: 600px;
}

.cols-container{
    display: flex;
    flex-direction: column;
}

.col-left{
    min-height: 50vh;
    width: 100%;
}
.col-right{
    display: none;
}

@media screen and (min-width: 700px) {
    .section-box-left{
        min-width: 30vw;
        max-width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1025px) {
    .section-box-left{
        min-width: 30vw;
        max-width: 600px;
        margin-left: 3rem;
    }

    .cols-container{
        flex-direction: row;
    }
    .col-left, .col-right{
        display: inline;
        min-height: 50vh;
        width: 50%;
    }
}



.col-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:100%;
    min-height: 300px;
}

.col-4 hr{
    width: 20%;
    background-color: white;
}

@media screen and (min-width: 700px) {
    .col-4 {

        min-height: 500px;
    }
}
@media screen and (min-width: 1025px) {
    .col-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width:25%;
        min-height: 300px;
    }
}

.col-inner-col{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.success-image{
    background-image: url('../champagne.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logos-image{
    background-image: url('../logos.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.left-box{
    text-align: center;
    font-family: var(--subFont);
    margin: 0 2rem;
}

.section3-headline p{
    color: var(--emphatic);
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.section3-normal p{
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
}

@media screen and (min-width:1025px) {
    .left-box{
        text-align: left;
        font-family: var(--subFont);
    }
    .section3-headline p{
        color: var(--emphatic);
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .section3-normal p{
        font-size: 1rem;
        line-height: 1.2rem;
    }
}


.col-right img{
    box-sizing: border-box;
    max-width: 100%;
}

.map{
    display: none;
}

@media screen and (min-width:1025px) {
    .map{
        display: inline;
        width: 90%
    }
}

.small-subtitle{
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-size: 2rem;
}

.text-block{
    padding: 0rem 1rem 2rem 1rem;
    background: rgb(20,20,46);
    background: radial-gradient(circle, rgba(20,20,46,1) 0%, rgba(19,55,102,1) 0%, rgba(20,20,46,1) 100%);
    box-sizing: border-box;
}

@media screen and (min-width:1025px) {

    .small-subtitle{
        text-transform: uppercase;
        font-family: var(--titleFont);
        font-size: .6rem;
    }
    

    .text-block{
        padding: 1rem 2rem;
 }
}

/* footer */

footer{
    background-color: var(--mainBackground);
    padding-top: 1rem;
}

.footer-first{
    display: flex;
    flex-direction: column;
}

.footer-first-col-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.footer-first-col-two{
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: flex-end;
    align-items: center;
}

.footer-logo{
    padding: 1rem;
}

.footer-links{
    font-family: var(--subFont);
}

.footer-links p{
    text-transform: uppercase;
    color: #999;
    padding: 0 2rem;
    margin-bottom: 0;
}

.footer-links a{
    font-size: .8rem;
    color: var(--white);
    text-decoration: none;
    padding: 0 2rem;
}

.footer-social{
    margin-right: 3rem;
}

.fab{
    color: var(--white);
    font-size: 2rem;
    padding: 0 .5rem;
}

.footer-second{
    width: 60%;
    padding-bottom: 1rem;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}

.contact-details p{
    color: var(--white);
    font-size: .7rem;
    font-family: var(--subFont);
    letter-spacing: .1rem;
}

.footer-third{
    display: flex;
    background-color: var(--sectionBackground);
    padding: .5rem 1rem;
    justify-content: space-around;
}
.footer-third p{
    font-family: var(--subFont);
    font-size: .8rem;
}
.footer-third a{
    text-decoration: none;
    margin-right: .3rem;
    color: #666;
}

@media screen and (min-width:700px) {
    .footer-first{
        display: flex;
        flex-direction: row;
    }
    .footer-first-col-one{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
    }
    
    .footer-first-col-two{
        display: flex;
        width: 50%; 
        justify-content: flex-end;
        align-items: center;
    }
    
    .footer-logo{
        padding: 1rem;
    }
    
    .footer-links{
        font-family: var(--subFont);
    }
    
    .footer-links p{
        text-transform: uppercase;
        color: #999;
        padding: 0 .5rem;
        margin-bottom: 0;
    }
    
    .footer-links a{
        font-size: .8rem;
        color: var(--white);
        text-decoration: none;
        padding: 0 .5rem;
    }
    
    .footer-social{
        margin-right: 3rem;
    }
    
    .fab{
        color: var(--white);
        font-size: 2rem;
        padding: 0 .5rem;
    }
    
    .footer-second{
        width: 60%;
        padding-bottom: 1rem;
    }
    
    .contact-details {
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
    }
    
    .contact-details p{
        color: var(--white);
        font-size: .7rem;
        font-family: var(--subFont);
        letter-spacing: .1rem;
    }
    
    .footer-third{
        display: flex;
        background-color: var(--sectionBackground);
        padding: 0;
        justify-content: space-around;
    }
    .footer-third p{
        font-family: var(--subFont);
        font-size: .8rem;
        color:#666;
    }
    .footer-third-links a{
        text-decoration: none;
        margin-right: .3rem;
        color:#666;
    }
}